body {
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

#main{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    

}


img {
    border: 5px solid coral;
    width: 100%;
    
}